@import 'tailwindcss';

@font-face {
	font-family: 'PhantomSans';
	src: url('fonts/PhantomSans_Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PhantomSans';
	src: url('fonts/PhantomSans_Regular.woff') format('woff');
	font-weight: regular;
	font-style: normal;
}

body {
	font-family: 'PhantomSans';
}
