@import 'tailwindcss';

@font-face {
	font-family: 'PhantomSans';
	src: url('fonts/PhantomSans_Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PhantomSans';
	src: url('fonts/PhantomSans_Regular.woff') format('woff');
	font-weight: regular;
	font-style: normal;
}

body {
	font-family: 'PhantomSans';
}

.drop-shadow {
	filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 3px 2px);
}
