.docs {
	font-family: "PhantomSans";
	font-size: 18px;

	h1, h2, h3, h4 {
		font-family: "Excalifont";
	}

	h1 {
		font-size: 50px;
		margin-bottom: 8px;
	}

	h2 {
		margin-top: 20px;
		font-size: 30px;
	}

	ul {
		margin-top: -18px;
		list-style: inside;
		margin-left: 24px;
	}

	a {
		display: inline-block;
		text-decoration: underline;
		text-decoration-style: wavy;
	}

	a:hover {
		transform: scale(1.02) rotate(-0.7deg);
	}
}
